[Unit]
Description=load bcache settings
Before=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/bcachectl load /etc/bcache/bcache.conf

[Install]
WantedBy=multi-user.target