[Unit]
Description=bcache suspend/resume
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/bcachectl suspend /etc/bcache/bcache.conf
ExecStop=/usr/sbin/bcachectl load /etc/bcache/bcache.conf

[Install]
WantedBy=sleep.target